/* flex box for the elements within a container */
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.container-element {
  position: relative;
  margin: 5px;

  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  align-items: center;

  
}

.container-element a, img {
  width: 100%
}

.bordered {
  border: 1px solid grey;
  border-radius: 5px;
}

/* hover-overlay for the title of a task card */
.title-overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px 0px 20px 0px;
  text-align: center;
  transform: translateY(-10%);
}

.container-element:hover .title-overlay {
  opacity: 1;
}

.done-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgba(100, 100, 100, 0.7);
  color: #f1f1f1;
  opacity: 1;
  color: white;
  text-align: center;
}

.done-overlay > .done-check {
  position: absolute;
  top: 40%;
  left: 50%;

  height: 40px;
  width: 20px;

  border-color: white;
  border-style: solid;
  border-width: 0px 5px 5px 0px;
  transform: rotate(45deg);
}


/* MEDIA QUERIES */
@media (min-width: 800px) {
  .container-element {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  .container-element {
    width: 30%;
  }
}